$text: #999;
$body: #7c5fe9;
$nav: #fff;

.contactbox {
    position: relative;
    width: 100vw;
    height: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -7em;
    &__form {
        position: relative;
        width: 90%;
        min-height: 400px;
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        border-radius: 63px 0px 63px 0px;
        overflow: hidden;
        margin-bottom: 2em;
        &-item {
            position: relative;
            width: 100%;
            min-height: 180px;
            background-color: $body;
            font-size: 1.2rem;
            
            &--header{
                text-transform: uppercase;
                color: $nav;
                text-align: center;
                margin-top: 1em;
                font-weight: bold;
                font-size: 1.6rem;
            }
            &--describe {
                text-align: justify;
                padding: 0.4em 0.4em;
                font-size: 1.2rem;
            }
            &--icon {
                display: flex;
                flex-direction: row;
                cursor: pointer;
                padding: 0em 0.2em;
                font-weight: 700;
            }
        }
        &-box {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
        }
    }
}

.label {
    font-size: 1.2rem;
    margin: 0.2em 0em;
    color: #151418;
}

label {
    color: $text; 
}

input {
    color: $text; 
}

.iconEmail {
    margin: 0em 0.4em;
}

a {
    text-decoration: none;
    color: black;
 
}


@media only screen and (min-width: 576px) {
    .contactbox {
     
        &__form {
       
            &-item {
                &--header{
                    font-size: 2rem;
                }}}
}}

@media only screen and (min-width: 768px) {
    .contactbox {
        &__form {
            flex-direction: row;
            &-item {
                width: 40%;
                height: 400px;
            &--header {
                font-size: 1.4rem;
            }
            }
            &-box {
                height: 400px;
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    .contactbox {
     
        &__form {
       
            &-item {
                &--header{
                    font-size: 1.6rem;
                }}}
}}

@media only screen and (min-width: 992px) {
    .contactbox {
     
        &__form {
       
            &-item {
                &--header{
                    font-size: 2rem;
                }
               &--describe {
                font-size: 1.4rem;
               } 
            
            }}
}
.label {
    font-size: 1.4rem;
}

}