$body: #7c5fe9;

.icon {
    position: relative;
    width: 100vw;
    &__iconboxcontainer {
        &-iconback {
            position: fixed;
            color: $body;
            z-index: 200;
            right: 4%;
            top: 24%;
        }
        &-iconback:hover {
            color: $body;
        }
    }
}

.iconbackmenu {
    font-size: 2rem;
	cursor: pointer;
    right: 14%;
}



@media only screen and (min-width: 576px) {
    
    .iconbackmenu {
        font-size: 4rem;
    }
    
}