$body: #7c5fe9;
$second: #fff;

.footer {
    position: relative;
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $body;
    color: $second;
    font-size: 1rem;
    z-index: -10;
}