$body: #7c5fe9;
$nav: #fff;
$text: #999;

.measure {
    position: relative;
    width: 100vw;
    height: 100%;
    &__time {
        color: $nav;
        font-size: 1.2rem;
        text-align: center;
        font-weight: bold;
        margin: 0.2em 0em;
    }
    &__name {
        color: $body;
        text-align: center;
        font-size: 1.3rem;
        font-weight: bold;
        margin: 0.2em 0em;
    }
    &__timenumber {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        color: $text;
        font-size: 1.3rem;
        font-weight: bold;
        &-col {
            text-align: center;
        }
        &-name {
            color: $body;
            font-size: 1rem;
        }
    }
    
  
}


@media (min-width: 576px) {
    .measure {
        &__time {
            font-size: 3rem;
            
        }
        &__name {
            font-size: 2.5rem;
        }
        &__timenumber {
            font-size: 3rem;
        }
    }
}

@media (min-width: 1400px) {
    .measure {
        &__time {
            font-size: 3.5rem;
            
        }
        &__name {
            font-size: 3rem;
        }
        &__timenumber {
            font-size: 3.5rem;
        }
    }
}

