
.charts {
    position: relative;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &__box {
        margin-top: 2em;
        width: 100%;
        height: 315px;
        margin-bottom: 2em;
        
    }
}

.data {
    position: relative;
    height: 100%;
    width: 360px;
    margin-left: -2em
}

@media (min-width: 576px) {

    .charts {
    
        &__box {
            width: 80%;
            
        }
    }
    .data {
        width: 450px;

    }
}


@media (min-width: 992px) {

    .charts {
    
        &__box {
            width: 80%;
            height: 600px;
            
        }
    }
    .data {
        width: 755px;

    }
}

@media (min-width: 1200px) {

    .data {
        width: 900px;

    }
}

@media (min-width: 1400px) {

    .data {
        width: 1000px;

    }
}